/* Setup */ 

body {
    overflow-x: hidden;
}

.w-90 {
    width: 90%;
}

.spacer {
    width: 100%;
    height: 20vh;
}

/* Welcome Section */

#welcome {
    color: white;
    background-color: #ffc1aa;
    height: 100vh;
}

#header {
    padding: 100px;
}

#welcome h1 {
    font-size: 45px;
    font-family: 'Exo', sans-serif;
}

#welcome h2 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 25px;
    margin-top: -15px;
}

#welcome p {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
}

#header i {
    font-size: 25px;
    color: white;
}

#animation {
    position: absolute;
    left: 50%;
    top: 40vh;
}

#animation button{
    border: 0;
    background-color: transparent;
    margin-bottom: 20px;
}

#animation i {
    font-size: 40px;
    color: white;
    border-radius: 50%;
}

#animate {
    margin: 8% auto;
    max-width: 30vw;
    max-height: 50vh;
}

#big-square {
    height: 150px;
    width: 150px;
    background-color: #D66565;
    margin: auto;
}

#big-circle {
    position: relative;
    top: -100px;
    left: 100px;

    height: 200px;
    width: 200px;
    background-color: #6AA9A4;
    border-radius: 50%;
}

#big-triangle {
    position: relative;
    top: -200px;
    left: 50px;

    height: 0px;
    width: 0px;
    border-right: 80px solid transparent;
    border-left: 80px solid transparent;
    border-bottom: 130px solid #ED9A7E;
}

#small-circle {
    position: relative;
    top: -350px;
    left: 25px;

    height: 100px;
    width: 100px;
    background-color: #EF7E7E;
    border-radius: 50%;
}

#small-triangle {
    position: relative;
    top: -500px;
    left: 150px;

    height: 0px;
    width: 0px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 80px solid #EF7E7E;
}

#small-square {
    position: relative;
    top: -450px;

    height: 50px;
    width: 50px;
    background-color: #EF7E7E;
    margin: auto;
}

#buttons {
    margin: auto;
    width: 80%;
}

#buttons a {
    z-index: 2000;
}

#links {
    display: inline-block;
}

#social {
    width: 70%;
    display: inline-block;
    text-align: right;
}

#social i {
    transition: .2s;
    border-radius: 50%;
    padding: 13px;
    font-size: 20px;
    background-color: white;
    color: #EF7E7E;
    text-decoration: none;
}

#social i:hover {
    transition: .2s;
    font-size: 22px;
}

#links a:hover {
    transition: .5s;
    border-bottom: 5px double rgba(255,255,255,1);
}

#links a {
    transition: .5s;
    padding: 13px;
    font-size: 18px;
    background-color: white;
    color: #EF7E7E;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    border-bottom: 5px double rgba(255,255,255,0);
}

#port {
    background-color: transparent !important;
    color: white !important;
    font-weight: 800;
}

#port img {
    padding-left: 5px;
    width: 25px;
}

/* Portfolio */

.details {
    text-align: center;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    margin: 20px auto;
    width: 90%;
}

.left-h1 {
    font-size: 45px;
}

.left-number {
    color: rgb(230, 227, 227, 0.5);
    font-size: 150px;
    font-family: 'Hanuman', serif;

    position: relative;
    top: 120px;
    left: 5%;
}

.right-h1 {
    font-size: 45px;
    text-align: right;
}

.right-number {
    color: rgb(230, 227, 227, 0.5);
    font-size: 150px;
    font-family: 'Hanuman', serif;

    position: relative;
    top: 120px;
    left: 90%;

}

.dscr {
    font-family: 'Nunito', sans-serif;
}

.dscr-right {
    text-align: right;
}

.shwc-left img {
    width: 80%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
}

.dscr-right img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;
}

.shwc {
    margin-top: -20px;
}

.shwc h2 {
    font-family: 'Exo', sans-serif;
    color: lightgrey;
}

.shwc h3 {
    font-family: 'Nunito', sans-serif;
    margin-top: 25px;
    font-size: 25px;
}

.shwc h3 span {
    background-color: gainsboro;
    font-size: 18px;
    padding: 2px 9px;
    border-radius: 50%;
    vertical-align: middle;
    color: white;
    font-weight: 800;
    margin-right: 5px;
}

.colors {
    transition: .3s;
    margin-top: 20px;
}
.colors:hover {
    transition: .3s;
    transform: scale(1.2);
}

#orange {
    background-color: #F9A53A;
    width: 50px;
    float: right;
    height: 50px;
    border-radius: 7px;
}

#blue {
    background-color: #006699;
    width: 50px;
    float: left;
    height: 50px;
    border-radius: 7px;
}

.logos {
    margin-top: 30px;
}

.logos .col-md-1 {
    margin: 0 !important;
    padding: 0 !important;
}

.logos img {
    width: 100%;
}
.wireframes img {
    transition: .3s;
    opacity: .9;
    width: 95%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
}

.wireframes img:hover {
    transition: .3s;
    opacity: 1;
}

.bottom {
    margin-top: 30px;
}

#add {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#projects {
    margin-top: -100px;
}

#projects img:hover {
    transition: .3s;
    opacity: 1;
}

#projects img {
    transition: .3s;
    width: 95%;
    margin-bottom: 50px;
    opacity: 0.9;
}

.intern-row {
    padding-top: 50px;
}

.intern-row img {
    width: 100%;
}

.intern-design {
    margin-top: 12px;
}

/* Asma Audit & Conseil */

#asm {
    padding: 0 50px;
}

#asm h1 {
    font-family: 'Petit Formal Script', cursive;
}

#asm-intro {
    padding-top: 75px;
}

/* UVCT Web Dev Internship */

#uvct {
    padding: 0 50px;
}

#wireframe {
    border-radius: 10px;
}

/* Wild Blue Catering */

#wbc {
    padding: 0 50px;
}

#wbc img {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
}

/* Perspektiva */

#prs {
    padding: 0 50px;
}

/* Mini Projects */

#mnp {
    padding: 0 50px;
}

/* Contact */

#contact {
    text-align: center;
    background-color: #FFC1AA;
    padding: 100px;
    color: white;
}

#contact h1 {
    font-family: 'Exo', sans-serif;
}

#contact h4 {
    font-family: 'Nunito', sans-serif;
}

#contact .row {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

#contact a {
    color: white;
    text-decoration: none;
    font-size: 70px;
}

/* Media queries */

@media (max-width: 481px) {
    #welcome {
        height: auto;
    }
    #header {
        padding: 20px 50px;
    }
    #animation, #animate {
        display: none;
    }
    #social {
        margin: 50px 0;
        width: auto;
    }
    .shwc-right h2 {
        margin: 20px 0;
    }
    .logos {
        display: none;
    }
    #projects {
        margin-top: 50px;
    }
    #contact {
        padding: 20px;
    }
    .dscr-right p, .dscr-left p {
        margin: 20px 0;
    }
    .dscr-right, .dscr-left {
        text-align: center;
    }
    .shwc-left img, .shwc-right img {
        width: 100%;
    }
    .right-h1, .left-h1 {
        font-size: 35px;
        margin: 30px 0;
    }
    .intern-row p {
        text-align: center;
    }
    .details {
        font-size: 1rem;
        width: 100%;
    }
    .shwc h3 {
        font-size: 20px;
    }
    #add {
        display: none;
    }
    .right-number {
        left: 80%;
        font-size: 100px;
    }
    .left-number {
        font-size: 100px;
    }
    #asm-intro {
        padding-top: 0;
    }
  }